@import '../../styles/config.scss';

.about-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: $spacing2;
	box-sizing: border-box;

	.about-info {
		padding: 6rem;
		box-sizing: border-box;

		h1 {
			font-size: 4rem;
			font-weight: 800;
			margin-bottom: 2rem;
			background: -webkit-linear-gradient(Left, $primaryColor, $secondaryColor);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}

		span {
			// @include DBorder;
			font-size: 1rem;
			line-height: 2rem;
			font-weight: 300;
		}
	}

	.about-image {
		grid-column-start: 2;
		grid-column-end: 4;
		border-radius: $borderRadius1;
		background: url('https://images.unsplash.com/photo-1525913040040-dc99b1be1c86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
		background-position: center;
		background-size: cover;
	}
}