@import '../../styles/config.scss';

.home-container {
	width: 99vw;
	height: 100vh;
	padding: $spacing1;
	box-sizing: border-box;
	
	.home-content-container {
		border-radius: $borderRadius1;
		background: url('../../images/render.jpg');
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.home-content-gradient {
		width: 100%;
		height: 100%;
		background: linear-gradient(#000, #00000000);
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		color: white;
		padding: 3rem;
		box-sizing: border-box;

		.home-content-hook {
			display: flex;
			align-items: flex-end;
			justify-self: flex-end;
			font-size: 6rem;
			text-align: right;
			font-weight: 900;

			@media screen and (max-width: $tabletSize) {
				visibility: hidden;
			}
		}

		.home-content-action-buttons {
			display: flex;
			align-items: flex-end;
			
			.home-content-button {
				width: 10rem;
				margin: 0 1rem 0 0;
			}

			#home-content-removed {
				visibility: hidden;
			}
		}

		nav {
			display: flex;
			justify-content: flex-end;
			align-items: flex-start;
			
			@media screen and (max-width: $tabletSize) {
				visibility: hidden;
			}

			.home-content-nav-container {
				// @include DBorder;
				width: 70%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				
				button {
					color: white;
				}
				
				.home-content-nav-action {
					width: 10rem;
				}
			}
		}

		.home-content-header {
			font-style: italic;

			h2 {
				margin-left: 0.5rem;
				font-size: 1.5rem;
				font-weight: 700;
			}

			h1 {
				font-size: 3rem;
				font-weight: 900;
			}

		}
	}
}